.sup_privacy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem;
    background-color: wheat;
    color: black;
    border-radius: 2rem;
    padding: 3rem 3rem;

    p{
        margin: 1rem 1rem;

    }
}

